$color-default-black: #282828;
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.1);
$color-white-transparent-2: rgba(255, 255, 255, 0.2);
$color-black: #000;
$color-grey: #333;
$color-secondary: rgb(156, 39, 176);
$color-secondary-transparent: rgba(156, 39, 176, 0.5);
$color-red: crimson;
