@import './_config';

@media (max-width: 480px) {
    .navbar {
        &__btn-grp {
            flex-direction: column;
        }

        &__btn {
            border-color: $color-secondary-transparent !important;
            border-radius: 0.4rem !important;
            margin-bottom: 1rem !important;
        }
    }
}
