@import './_config';

@media (max-width: 510px) {
    .navbar {
        &__btn-grp {
            flex-direction: column;
        }

        &__btn {
            border-color: $color-secondary-transparent !important;
            border-radius: 0.4rem !important;
            margin-bottom: 1rem !important;
        }
        margin-bottom: 2rem;
    }
}

@media (max-width: 300px) {
    .collection {
        &__title,
        &__title-span {
            font-size: 2rem !important;
        }
    }

    .manage-collections__add-btn {
        font-size: 1rem !important;
    }
}
