@import './abstracts/_config';

/* Defaults */

:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: $color-default-black;
}

a {
    text-decoration: none;
}

/* End of Defaults */

.MuiTableCell-root {
    border-bottom: none !important;
}
