@import './abstracts/_config';

.collections {
    margin-top: 2rem !important;
    margin-bottom: 2rem;
    background-color: transparent;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;

    &__box {
        &:hover {
            background-color: $color-white-transparent !important;
        }
    }

    &__link {
        flex: 80%;
    }

    &__btn {
        width: 100% !important;
        color: $color-black !important;
        text-transform: capitalize !important;
        padding-left: 0 !important;
    }

    &__icon {
        color: $color-secondary;
    }

    &__avatar {
        width: 50px !important;
        height: 50px !important;
        margin-right: 1rem;
    }

    &__name {
        font-size: 1.8rem !important;
        font-weight: 500 !important;
        text-transform: none !important ;
        color: $color-white;
    }

    &__date {
        font-size: 1.2rem !important;
        color: $color-grey;
    }

    &__option {
        color: $color-white !important;
        transition: color 0.3s ease-in-out !important;

        &:hover {
            color: $color-secondary !important;
            background-color: transparent !important;
        }
    }

    &__dropdown {
        padding: 1rem !important;

        &-option {
            transition: transform 0.2s ease-in-out, color 0.2s ease-in-out !important;

            &:hover {
                color: $color-secondary;
                transform: scale(1.3);
            }
        }
    }
}
