.quiz-flashcard {
    &__btn {
        font-size: 1.5rem !important;
    }

    &__fade-in {
        animation: fadeIn 0.3s ease-in-out;
    }

    &__points {
        transform: rotate(20deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
